# IDEs
.idea/
.vscode/

# Ruff
.ruff_cache/

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
env/
venv/
ENV/
*.env

# Flask
instance/
*.db
*.sqlite3

# MySQL
*.sql
*.dump

# MacOS
.DS_Store

# Logs
*.log

# Pytest
.cache/
.pytest_cache/

# Coverage
htmlcov/
.coverage
coverage.xml

# Migrations
migrations/
