# IDEs
.idea/
.vscode/

# Ruff
.ruff_cache/

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
env/
venv/
ENV/
*.env

# Flask
instance/
*.db
*.sqlite3

# MySQL & sqlite3
*.sql
*.dump
*.db

# MacOS
.DS_Store

# Logs
*.log

# Pytest
.cache/
.pytest_cache/

# Coverage
htmlcov/
.coverage
coverage.xml

# Migrations
migrations/


### Client .gitignore ###
# dependencies
client/node_modules
client/.pnp
client/.pnp.js

# testing
client/coverage

# production
client/build

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
